@charset "UTF-8";

/*
Paleta de cores
Verde: #49a09d
Lilás: #5f2c82
*/

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	background-color: #5f2c82;
	height: 100vh;
	width: 100vw;
}

main {
	position: relative;
	height: 100vh;
	width: 100vw;
}

#login {
	position: absolute;
	display: block;
	top: 50%;
	left:50%;
	overflow: hidden;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 50vw;
	height: 55vh;
	border-radius: 1.25em;
	box-shadow: 0em 0em 0.625em rgba(0, 0, 0, 0.450);
	transition: width .3s, height .3s;
}

#imagem {
	background: #5f2c82 url(../img/pexels-photo-2896034.jpeg);
	background-size: cover;
	background-position: left bottom;
	display: block;
	height: 40%;
}

#formulario {
	padding: 0.625em;
	height: 60%;
}

#formulario > h1 {
	text-align: center;
	margin-bottom: 0.625em;
}

#formulario > p {
	font-size: 0.8em;
}

form {
	height: 30%;
}

form > .campo {
	background-color: #5f2c82;
	display: block;
	width: 100%;
	height: 40%;
	border-radius: 0.5em;
	margin: 0.3125em 0em;
}

.campo > label {
	display: none;
	width: 0.00000001%;
}

.campo > span {
	color: white;
	font-size: 2em;
	width: 15%;
	height: 100%;
	text-align: center;
}

.campo > input {
	background-color: #94cfcd;
	font-size: 1em;
	width: 83%;
	height: 100%;
	border: none;
	border-radius: 0.5em;
	padding: 0.25em;
	transform: translateY(-0.5625em);
}

.campo > input::placeholder {
	color: #5f2c82;
}


form > input[type=submit] {
	display: block;
	font-size: 1em;
	width: 100%;
	height: 50%;
	background-color: #49a09d;
	color: white;
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
	text-align: center;
}

form > input[type=submit]:hover {
	background-color: #2d6462;
}

form > a.botao {
	display: block;
	text-align: center;
	font-size: 1em;
	width: 100%;
	height: 50%;
	padding-top: 0.5em;
	margin-top: 0.3125em;
	color: #2d6462;
	background-color: white;
	border: 1px solid #49a09d;
	border-radius: 0.5em;
	text-decoration: none;
}

form > a.botao:hover {
	background-color: #6cd3cf;
}

form > a.botao > span {
	font-size: 0.8em;
}